<?xml version="1.0"?>
<launch>

  <node name="medicine_despense" pkg="medicine_despense" type ="medicine_despense_node" >
   
  </node>
<node name ="pantilt" pkg = "pantilt" type="pantilt_node"></node>
<node name ="imageonclick" pkg ="imageonclick" type ="imageclick.py" output = "screen"></node>

</launch>
